<nav class="nav navbar-default">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand">Weather - <%= email %></a></div>
        <ul class="nav navbar-nav">
            <li><a data-toggle="tab" href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>