<nav class="nav navbar-default">
    <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand">Sign Up</a></div>
        <ul class="nav navbar-nav">
            <li><a data-toggle="tab" href="/">Home</a></li>
        </ul>
    </div>
</nav>
